<div class="header">
  <h2>{{ 'GRAPH_MANAGEMENT.OPTIONS' | translate }}</h2>
  <button mat-raised-button color="primary" (click)="createRandomGraph()">
    {{ 'GRAPH_MANAGEMENT.CREATE_RANDOM_GRAPH' | translate }}
  </button>
  <div class="desc">
    <div>
      You have a graph with N nodes and M edges. A person wants to travel from
      node Ni to node Nj. They can only travel along an edge if their autonomy E
      is greater than the edge’s weight. When they reach a node, they can
      recharge their energy, but it takes an extra day. They can also choose to
      continue without recharging. On certain days, thieves are present at some
      nodes. The risk of being killed increases each time the person passes
      through or stops at these nodes. This risk follows the formula:
    </div>
    <div>
      P(to be killed) = 1/10 + 9/10^2 + 9^2/10^3 + 9^3/10^4 + ... + 9^(k-1)/10^k
      where k is the number of times the thieves try to kill the person.
    </div>
    <div>
      The person must arrive before the countdown units otherwise it will die.
    </div>
    <ul>
      <li>
        What is the probability that the person arrives at the destination
        safely?
      </li>
      <li>
        If can arrive, how long does it take to arrive to the destination ?
      </li>
    </ul>
  </div>
</div>
