@use '@angular/material' as mat;

mat-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  height: 50px;
}

a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  color: black;
}

mat-form-field {
  @include mat.form-field-density(-6);
  width: 76px;
}

.big-icon {
  transform: scale(1.5);
  margin-right: 10px;
}

.trigger {
  display: flex;
  justify-content: start;
  gap: 4px;
  align-items: center;
  img {
    width: 30px;
    height: 30px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
