<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <app-graph-settings />
  </mat-drawer>
  <mat-drawer-content>
    @if (graph !== null) {
      <div class="content">
        <app-graph-form
          [graph]="graph"
          (computeOddsEvent)="computeOdds($event)"
        />
        <app-graph-preview [graph]="graph" />
      </div>
    }
    @if (odds !== null) {
      <div>
        {{
          'GRAPH_MANAGEMENT.PROBABILITY_TO_ARRIVE' | translate: { odds: odds }
        }}
      </div>
    }
  </mat-drawer-content>
</mat-drawer-container>
