<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <app-graph-settings />
  </mat-drawer>
  <mat-drawer-content>
    @if (graph !== null) {
      <div class="content">
        <div>
          <app-graph-form
            [graph]="graph"
            [odds]="odds"
            (computeOddsEvent)="computeOdds($event)"
          />
          <app-graph-info [graphInfo]="graphInfo" />
        </div>
        <app-graph-preview [graph]="graph" />
      </div>
    }
  </mat-drawer-content>
</mat-drawer-container>
