form,
.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}

mat-form-field {
  width: 280px;
}

button {
  margin-right: 8px;
}

.odds {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-top: 50px;
  font-weight: 400;
}
